<?xml version="1.0" encoding="utf-8"?>
<DataType Key="023c7339-7c8d-49a0-a313-6746cd5137a2" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "04cf47d6-56b1-4d09-8a41-d31ca799e307",
      "name": "Layout"
    },
    {
      "key": "e1b71188-75ed-4a34-85e3-803c8fab0e3e",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "fee5a3ca-0084-4cea-b242-2c853c2c7371",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "dc415fd6-91d2-4d93-96be-d1790a8c86da",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "e71c45b4-ad65-4161-abc9-f33d1d21fbdf",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "middle",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "159f2b9a-2cee-433c-8aa2-ca17181137d6",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "dc415fd6-91d2-4d93-96be-d1790a8c86da",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "e71c45b4-ad65-4161-abc9-f33d1d21fbdf",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "843c0ff4-1934-4aaf-881a-b1eb7b6900fb",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "dc415fd6-91d2-4d93-96be-d1790a8c86da",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "e71c45b4-ad65-4161-abc9-f33d1d21fbdf",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e56cad32-eecc-4928-adc8-c508f706b456",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "04cf47d6-56b1-4d09-8a41-d31ca799e307",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "dc415fd6-91d2-4d93-96be-d1790a8c86da",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e1b71188-75ed-4a34-85e3-803c8fab0e3e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e71c45b4-ad65-4161-abc9-f33d1d21fbdf",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e1b71188-75ed-4a34-85e3-803c8fab0e3e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>