<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4eac99d-fe94-4ec6-911e-35fa162cc27c" Alias="[ColorPicker] - White or Secondary" Level="1">
  <Info>
    <Name>[ColorPicker] - White or Secondary</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"2c3e50\",\"label\":\"Secondary\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>