<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7da0f72-103f-4301-84fc-bfeafe25be09" Alias="[MediaPicker] Icon Picker (SVG)" Level="2">
  <Info>
    <Name>[MediaPicker] Icon Picker (SVG)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>