<?xml version="1.0" encoding="utf-8"?>
<DataType Key="578821fb-b337-4b99-a5ba-4b38e8caaae4" Alias="[MNTP] - Page Tag Picker" Level="2">
  <Info>
    <Name>[MNTP] - Page Tag Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "pageTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "908d92f5-087a-458d-8624-80303cbfa66c"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "eca027a8-a3a2-4dbb-8f34-4f36e0294b67"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>