<?xml version="1.0" encoding="utf-8"?>
<Media Key="d126858d-66ed-4af8-84c7-626b4c97db5e" Alias="Cake" Level="2">
  <Info>
    <Parent Key="4d9f59c3-f1c6-425d-92db-f5b88503548e">Images</Parent>
    <Path>/Images/Cake</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T16:55:29</CreateDate>
    <NodeName Default="Cake" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rocdnupn/cake.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>