<?xml version="1.0" encoding="utf-8"?>
<Media Key="209076ec-4cfc-4d6f-990a-df72cfb9f4b4" Alias="Circus" Level="2">
  <Info>
    <Parent Key="4d9f59c3-f1c6-425d-92db-f5b88503548e">Images</Parent>
    <Path>/Images/Circus</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T16:55:29</CreateDate>
    <NodeName Default="Circus" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3j1jaih2/circus.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>