<?xml version="1.0" encoding="utf-8"?>
<Media Key="067e5cfb-1e9f-49aa-b8e7-0a809855916f" Alias="Facebookavg" Level="2">
  <Info>
    <Parent Key="23d91d36-9d44-4585-85cd-fbccd1272844">SVG Icons</Parent>
    <Path>/SVGIcons/Facebookavg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-10T17:03:13</CreateDate>
    <NodeName Default="Facebookavg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altTest>
      <Value><![CDATA[]]></Value>
    </altTest>
    <umbracoFile>
      <Value><![CDATA[/media/zjoh2bu5/facebookavg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>