<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ac54b78-d77f-49be-b4a2-faa4fb5ca18e" Alias="Facebook" Level="2">
  <Info>
    <Parent Key="4d9f59c3-f1c6-425d-92db-f5b88503548e">Images</Parent>
    <Path>/Images/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T18:10:05</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pzfnk0t5/facebook.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>