<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d9f59c3-f1c6-425d-92db-f5b88503548e" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-24T15:11:08</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>