<?xml version="1.0" encoding="utf-8"?>
<Media Key="46d287b0-9120-4405-af1c-c25768010c31" Alias="Insta" Level="2">
  <Info>
    <Parent Key="4d9f59c3-f1c6-425d-92db-f5b88503548e">Images</Parent>
    <Path>/Images/Insta</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-10T17:03:13</CreateDate>
    <NodeName Default="Insta" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altTest>
      <Value><![CDATA[]]></Value>
    </altTest>
    <umbracoFile>
      <Value><![CDATA[/media/qgdnerra/insta.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>