<?xml version="1.0" encoding="utf-8"?>
<Media Key="6067b56d-915d-4435-bd15-632b66dfdcb8" Alias="Linkedin" Level="2">
  <Info>
    <Parent Key="4d9f59c3-f1c6-425d-92db-f5b88503548e">Images</Parent>
    <Path>/Images/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T18:10:13</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/no0hoyc3/linkedin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>