<?xml version="1.0" encoding="utf-8"?>
<Media Key="3107abbf-294f-4d4c-9e92-2c97eeb61ab6" Alias="Linkedinsvg" Level="2">
  <Info>
    <Parent Key="23d91d36-9d44-4585-85cd-fbccd1272844">SVG Icons</Parent>
    <Path>/SVGIcons/Linkedinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-10T17:03:13</CreateDate>
    <NodeName Default="Linkedinsvg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altTest>
      <Value><![CDATA[]]></Value>
    </altTest>
    <umbracoFile>
      <Value><![CDATA[/media/r0vbomkp/linkedinsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>