<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2a62f17-504f-44b6-823f-568c341fc6c4" Alias="Login Background Image" Level="2">
  <Info>
    <Parent Key="4d9f59c3-f1c6-425d-92db-f5b88503548e">Images</Parent>
    <Path>/Images/LoginBackgroundImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-21T14:36:53</CreateDate>
    <NodeName Default="Login Background Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cexlnisp/login-background-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>