<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e416a61-60ca-4502-8e51-4404f50608d5" Alias="SOLID" Level="2">
  <Info>
    <Parent Key="4d9f59c3-f1c6-425d-92db-f5b88503548e">Images</Parent>
    <Path>/Images/SOLID</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-05T15:49:49</CreateDate>
    <NodeName Default="SOLID" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[This is a test]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m3vechwk/cabin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>