<?xml version="1.0" encoding="utf-8"?>
<Media Key="23d91d36-9d44-4585-85cd-fbccd1272844" Alias="SVG Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SVGIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-24T15:09:37</CreateDate>
    <NodeName Default="SVG Icons" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>