<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9ff1584-ba7d-49f4-82ed-058ec980c44c" Alias="Xsvg" Level="2">
  <Info>
    <Parent Key="23d91d36-9d44-4585-85cd-fbccd1272844">SVG Icons</Parent>
    <Path>/SVGIcons/Xsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-10T17:22:06</CreateDate>
    <NodeName Default="Xsvg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altTest>
      <Value><![CDATA[]]></Value>
    </altTest>
    <umbracoFile>
      <Value><![CDATA[/media/wukp54l3/xsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>