<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bdb1f09e-6b9b-45e9-b954-68266ad99a92" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main home page type for this website. You will build content using the block grid</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7845e2eb-142b-4df9-80bf-9717ffad43ef">contentProperties</Composition>
      <Composition Key="1890b873-6dd7-4883-af2f-463f74001c5f">headerProperties</Composition>
      <Composition Key="e1a13f55-1a84-4f3b-823f-b75752d06a84">sEOProperties</Composition>
      <Composition Key="ecfc85d2-d62b-4198-ade0-28ddb5cfaa1f">taggingProperties</Composition>
      <Composition Key="410d86bc-0321-448c-aa08-0514117f6630">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c527d99a-93fc-4f2a-b4cb-6338d057018b">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>