<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="908d92f5-087a-458d-8624-80303cbfa66c" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main home page for this website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7845e2eb-142b-4df9-80bf-9717ffad43ef">contentProperties</Composition>
      <Composition Key="1890b873-6dd7-4883-af2f-463f74001c5f">headerProperties</Composition>
      <Composition Key="e1a13f55-1a84-4f3b-823f-b75752d06a84">sEOProperties</Composition>
      <Composition Key="410d86bc-0321-448c-aa08-0514117f6630">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4cc1f5b2-e780-42ca-bab9-caec5413f2f2">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bdb1f09e-6b9b-45e9-b954-68266ad99a92" SortOrder="0">contentPage</ContentType>
    <ContentType Key="fe3b39a0-b675-47b2-b2f8-c02aadf65368" SortOrder="1">searchPage</ContentType>
    <ContentType Key="32edfaa8-e8de-4b37-bab7-39e3ba607861" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>