<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eca027a8-a3a2-4dbb-8f34-4f36e0294b67" Alias="pageTags" Level="2">
  <Info>
    <Name>Page Tags</Name>
    <Icon>icon-tags color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="32d6d842-8d00-46fb-bb50-38b302620a73" SortOrder="0">pageTag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>