<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32edfaa8-e8de-4b37-bab7-39e3ba607861" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="def21c15-f571-413a-ae23-1970fbd1612f">footerProperties</Composition>
      <Composition Key="88d7c522-2e56-4301-875d-7a113f4e29af">mainNavigationProperties</Composition>
      <Composition Key="e458f6b6-5231-4318-8d45-bf0051394c62">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="eca027a8-a3a2-4dbb-8f34-4f36e0294b67" SortOrder="0">pageTags</ContentType>
    <ContentType Key="3f0cdc5d-43b8-43eb-8955-43c09a160eef" SortOrder="1">reusableContentRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>