<?xml version="1.0" encoding="utf-8"?>
<Content Key="cff19265-6d32-48bf-8acd-b610e46c8bca" Alias="About this site" Level="2">
  <Info>
    <Parent Key="2b5b74c8-af45-435b-92c9-f8e7984f66e1">Home</Parent>
    <Path>/Home/AboutThisSite</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-08-06T17:56:02</CreateDate>
    <NodeName Default="About this site" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c527d99a-93fc-4f2a-b4cb-6338d057018b">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/004a4cdf0f654bd9b0f038e358fb2482"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d2c4a032-6037-42eb-af09-2f680169f0c0",
      "udi": "umb://element/004a4cdf0f654bd9b0f038e358fb2482",
      "image": [
        {
          "key": "ee348e74-87d1-4155-9378-62f7958a423c",
          "mediaKey": "aa8f519e-6173-43fd-b761-90cbe1bf38b3"
        }
      ],
      "title": "This is stander header title",
      "subtitle": "Graphic Artist - Web Designer - Illustrator"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9e88bfb4013343679599b2aa1b68b010",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/90e8c7ba4c6f4d5db5e6a0f115f23506",
        "areas": [
          {
            "key": "570e28e4-6298-430c-8543-6bc5f0152917",
            "items": [
              {
                "contentUdi": "umb://element/fef7fe700f7442088dd15463859eccc6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "c84ff2b4-38cc-4fa5-9b11-6f66b4db8ef1",
            "items": [
              {
                "contentUdi": "umb://element/1eec0dd2c9fd41bc8182837d93b2b495",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e531bf4a5c594f2eb00e64629c915917",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ef8ba77ac6554f219dfbb95a546e1c03",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6dfdfdda72684668b466060ba5100d8a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/86b08aa6d4fa45ec8211dd27171bab7a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/627888dc53934272b24ad66679ec371e",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "05fcfc72-ef2d-457a-b37b-264f0e941788",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "50d8729b-c258-40f9-aad7-ed845666c067",
      "udi": "umb://element/90e8c7ba4c6f4d5db5e6a0f115f23506"
    },
    {
      "contentTypeKey": "f259f1ce-8fe4-411f-9450-cd7dba3472d0",
      "udi": "umb://element/fef7fe700f7442088dd15463859eccc6",
      "text": "This is the about title",
      "colour": {
        "value": "2c3e50",
        "label": "Secondary",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/1eec0dd2c9fd41bc8182837d93b2b495",
      "image": [
        {
          "key": "0bae2068-96e7-4384-b9fd-ae079427a80d",
          "mediaKey": "1e416a61-60ca-4502-8e51-4404f50608d5"
        }
      ],
      "link": [
        {
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        }
      ]
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/e531bf4a5c594f2eb00e64629c915917",
      "image": [
        {
          "key": "41095441-2e7d-416b-9ff5-09ba8c9900d1",
          "mediaKey": "d126858d-66ed-4af8-84c7-626b4c97db5e"
        }
      ],
      "link": [
        {
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        }
      ]
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/ef8ba77ac6554f219dfbb95a546e1c03",
      "image": [
        {
          "key": "bd4df422-bc13-49b9-9995-8d553d97aff5",
          "mediaKey": "209076ec-4cfc-4d6f-990a-df72cfb9f4b4"
        }
      ],
      "link": [
        {
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        }
      ]
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/6dfdfdda72684668b466060ba5100d8a",
      "image": [
        {
          "key": "8fcb42dd-1ab9-4d2b-835d-6d240793780a",
          "mediaKey": "9c8bf579-a0b2-4770-b327-8b4d70b75950"
        }
      ],
      "link": [
        {
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        }
      ]
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/86b08aa6d4fa45ec8211dd27171bab7a",
      "image": [
        {
          "key": "46238287-d6c3-4f9a-b4b6-2120f143a7fd",
          "mediaKey": "716070f4-7a3f-4191-957c-88050eb2bc16"
        }
      ],
      "link": [
        {
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        }
      ]
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/627888dc53934272b24ad66679ec371e",
      "image": [
        {
          "key": "2e17d93a-e72f-4d9e-9df9-6fa3690192ee",
          "mediaKey": "e6924801-b01d-4b0a-a3aa-8a86741184c6"
        }
      ],
      "link": [
        {
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        }
      ]
    },
    {
      "contentTypeKey": "06b17ff5-85f3-4b94-af8e-c4d6bd53eda3",
      "udi": "umb://element/9e88bfb4013343679599b2aa1b68b010",
      "contentItem": "umb://document/31195f25257343249cb65713dc62825f"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/c18b95ecf040405cabcae31b8b5e0db4,umb://document/3b28f297ddcb4c46a3631a33414845b1]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>