<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b28f297-ddcb-4c46-a363-1a33414845b1" Alias="Block List" Level="4">
  <Info>
    <Parent Key="8957242a-678d-43fc-8133-6559f717e2f6">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2024-08-06T22:03:23</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>