<?xml version="1.0" encoding="utf-8"?>
<Content Key="c18b95ec-f040-405c-abca-e31b8b5e0db4" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="8957242a-678d-43fc-8133-6559f717e2f6">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2024-08-06T22:02:40</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>