<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b5b74c8-af45-435b-92c9-f8e7984f66e1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-06T17:54:14</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cc1f5b2-e780-42ca-bab9-caec5413f2f2">HomePage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a25d7ee00a59486a84b420a0e45fcc85",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d2c4a032-6037-42eb-af09-2f680169f0c0",
      "udi": "umb://element/a25d7ee00a59486a84b420a0e45fcc85",
      "image": [
        {
          "key": "ee348e74-87d1-4155-9378-62f7958a423c",
          "mediaKey": "1e416a61-60ca-4502-8e51-4404f50608d5"
        }
      ],
      "title": "This is stander header title",
      "subtitle": "Graphic Artist - Web Designer - Illustrator"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c94ed60830c948ccaed56d7a8c44ee40",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/04c170dd13894b9a917e77431b2dea79",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/52756f18142447cca91d9d7112aaee41",
        "areas": [
          {
            "key": "570e28e4-6298-430c-8543-6bc5f0152917",
            "items": [
              {
                "contentUdi": "umb://element/4b2c9fd54ec34d22adc0aa7a3f32cf30",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "c84ff2b4-38cc-4fa5-9b11-6f66b4db8ef1",
            "items": [
              {
                "contentUdi": "umb://element/78b6863f20ff4b39b473b98fe50a99fa",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/4d2157a48bf543d480ffbc8be07ebef9",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "05fcfc72-ef2d-457a-b37b-264f0e941788",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c2fdc20c466a49639970503460381224",
        "areas": [
          {
            "key": "76338ea7-d4d6-48f4-94ef-842868da3573",
            "items": [
              {
                "contentUdi": "umb://element/40e57488ace44b39809303f7158c8bcf",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "cd03e4f2-d887-4118-a7ce-1b02ce30fb6a",
            "items": [
              {
                "contentUdi": "umb://element/894c13631e1249e3869b7e76a6df7a06",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e388f0c076744e82b82011709a17f6c9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "780d9ba1-0bab-45ce-b8b7-aea76bbe1637",
            "items": [
              {
                "contentUdi": "umb://element/aae4a82be7cf4beaa407bf56f8ee128b",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/475c4bf97d6a433a97ce8d030c26f073",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "397986c0-34e2-4e8f-aa63-8f54e4a8343e",
      "udi": "umb://element/04c170dd13894b9a917e77431b2dea79",
      "text": {
        "markup": "<p>Trying to get away from the screens a bit more</p>\n<p class=\"lead\"><span class=\"text-danger\" style=\"color: rgb(220, 53, 69);\">(I say while on my phone writing this!) and bought a physical comic instead of using my tablet.&nbsp;</span></p>\n<p><br>A bloody, gruesome edition but a really enjoyable story so far. Think I'll need to get the second volume soon.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "4f7b3527-c721-4fb1-97e4-be1165ee064d",
      "udi": "umb://element/c2fdc20c466a49639970503460381224"
    },
    {
      "contentTypeKey": "f259f1ce-8fe4-411f-9450-cd7dba3472d0",
      "udi": "umb://element/40e57488ace44b39809303f7158c8bcf",
      "text": "About",
      "colour": {
        "value": "ffffff",
        "label": "White",
        "sortOrder": 0,
        "id": "1"
      }
    },
    {
      "contentTypeKey": "7235422a-7faf-4ef7-9c1b-97dbcb5d60e2",
      "udi": "umb://element/aae4a82be7cf4beaa407bf56f8ee128b",
      "icon": [
        {
          "key": "af64d8c3-d4d5-4b7d-8a97-f7cc040f7b63",
          "mediaKey": "f9ff1584-ba7d-49f4-82ed-058ec980c44c"
        }
      ],
      "link": [
        {
          "name": "Visit X",
          "url": "https://x.com/"
        }
      ]
    },
    {
      "contentTypeKey": "50d8729b-c258-40f9-aad7-ed845666c067",
      "udi": "umb://element/52756f18142447cca91d9d7112aaee41"
    },
    {
      "contentTypeKey": "f259f1ce-8fe4-411f-9450-cd7dba3472d0",
      "udi": "umb://element/4b2c9fd54ec34d22adc0aa7a3f32cf30",
      "text": "Portfolio",
      "colour": {
        "value": "2c3e50",
        "label": "Secondary",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/78b6863f20ff4b39b473b98fe50a99fa",
      "image": [
        {
          "key": "b22cd3de-eedc-4eea-8aaa-1c11483e36b4",
          "mediaKey": "5ebaeb54-b21a-468e-9e9f-15faad1869a1"
        }
      ],
      "link": [
        {
          "udi": "umb://document/2b5b74c8af45435b92c9f8e7984f66e1"
        }
      ]
    },
    {
      "contentTypeKey": "89422e3a-3bcf-4937-92bf-1e19887de8fd",
      "udi": "umb://element/4d2157a48bf543d480ffbc8be07ebef9",
      "image": [
        {
          "key": "ed30120c-38bf-44aa-9fad-13c01fe2ba46",
          "mediaKey": "9c8bf579-a0b2-4770-b327-8b4d70b75950"
        }
      ],
      "link": [
        {
          "udi": "umb://document/2b5b74c8af45435b92c9f8e7984f66e1"
        }
      ]
    },
    {
      "contentTypeKey": "397986c0-34e2-4e8f-aa63-8f54e4a8343e",
      "udi": "umb://element/894c13631e1249e3869b7e76a6df7a06",
      "text": {
        "markup": "<p class=\"lead\">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "397986c0-34e2-4e8f-aa63-8f54e4a8343e",
      "udi": "umb://element/e388f0c076744e82b82011709a17f6c9",
      "text": {
        "markup": "<p class=\"lead\">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "c68ddea7-1252-40a4-8475-23d9e056315f",
      "udi": "umb://element/475c4bf97d6a433a97ce8d030c26f073",
      "image": [
        {
          "key": "6c38d8b9-19b4-4a6e-8c9a-d07f6103f52d",
          "mediaKey": "aa8f519e-6173-43fd-b761-90cbe1bf38b3"
        }
      ],
      "caption": "If toy want to learn softwear"
    },
    {
      "contentTypeKey": "06b17ff5-85f3-4b94-af8e-c4d6bd53eda3",
      "udi": "umb://element/c94ed60830c948ccaed56d7a8c44ee40",
      "contentItem": "umb://document/31195f25257343249cb65713dc62825f"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>