<?xml version="1.0" encoding="utf-8"?>
<Content Key="8957242a-678d-43fc-8133-6559f717e2f6" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="07dfd0e7-671b-4013-91aa-9a5dc0a3d7b4">Site Settings</Parent>
    <Path>/Home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2024-08-06T21:46:20</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>