<?xml version="1.0" encoding="utf-8"?>
<Content Key="148d20e4-1eee-488d-a6ca-307f7c42bf77" Alias="Reusable Content" Level="3">
  <Info>
    <Parent Key="07dfd0e7-671b-4013-91aa-9a5dc0a3d7b4">Site Settings</Parent>
    <Path>/Home/SiteSettings/ReusableContent</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentRepository</ContentType>
    <CreateDate>2024-08-16T21:10:25</CreateDate>
    <NodeName Default="Reusable Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>