<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa320cb4-128f-43c5-aee6-557251db711f" Alias="Search" Level="2">
  <Info>
    <Parent Key="2b5b74c8-af45-435b-92c9-f8e7984f66e1">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2024-08-06T17:56:53</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9028d819-7792-4d27-b90f-8fda7e57524f">SearchPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[hi from search]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[searsh]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>