<?xml version="1.0" encoding="utf-8"?>
<Content Key="07dfd0e7-671b-4013-91aa-9a5dc0a3d7b4" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="2b5b74c8-af45-435b-92c9-f8e7984f66e1">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-08-06T18:14:52</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fa0b01de737448a29051c956878bd33c",
        "areas": [
          {
            "key": "fee5a3ca-0084-4cea-b242-2c853c2c7371",
            "items": [
              {
                "contentUdi": "umb://element/67a6675ff75e460fa96200d8d241efca",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "159f2b9a-2cee-433c-8aa2-ca17181137d6",
            "items": [
              {
                "contentUdi": "umb://element/9cf0df9f2bad47eda8d2fed361f21215",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "843c0ff4-1934-4aaf-881a-b1eb7b6900fb",
            "items": [
              {
                "contentUdi": "umb://element/82b92cc553df476b9ac04283a831507b",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e56cad32-eecc-4928-adc8-c508f706b456",
      "udi": "umb://element/fa0b01de737448a29051c956878bd33c"
    },
    {
      "contentTypeKey": "dc415fd6-91d2-4d93-96be-d1790a8c86da",
      "udi": "umb://element/67a6675ff75e460fa96200d8d241efca",
      "title": "Title 1",
      "text": {
        "markup": "<p>Hi from text 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "dc415fd6-91d2-4d93-96be-d1790a8c86da",
      "udi": "umb://element/82b92cc553df476b9ac04283a831507b",
      "title": "Title 3",
      "text": {
        "markup": "<p>Hi from text 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e71c45b4-ad65-4161-abc9-f33d1d21fbdf",
      "udi": "umb://element/9cf0df9f2bad47eda8d2fed361f21215",
      "title": "Test Social ",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b54b865ccede4d02abedbf7f235d09d6"
            },
            {
              "contentUdi": "umb://element/980b77a799774f42a1767808e86e5f18"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8685e64c-5333-4c08-84ee-38ab578c6508",
            "udi": "umb://element/b54b865ccede4d02abedbf7f235d09d6",
            "link": [
              {
                "name": "Facebook",
                "url": "https://www.facebook.com/"
              }
            ],
            "icon": [
              {
                "key": "f6036199-6572-45b0-806a-a723dd67948b",
                "mediaKey": "067e5cfb-1e9f-49aa-b8e7-0a809855916f"
              }
            ],
            "iconColour": {
              "value": "f8f9fa",
              "label": "Light",
              "sortOrder": 8,
              "id": "9"
            },
            "invertedIconColour": {
              "value": "999999",
              "label": "Dark Gray",
              "sortOrder": 10,
              "id": "11"
            }
          },
          {
            "contentTypeKey": "8685e64c-5333-4c08-84ee-38ab578c6508",
            "udi": "umb://element/980b77a799774f42a1767808e86e5f18",
            "link": [
              {
                "name": "X",
                "url": "https://x.com/"
              }
            ],
            "icon": [
              {
                "key": "15a249f7-63a1-42d2-a586-c38838eef2b2",
                "mediaKey": "f9ff1584-ba7d-49f4-82ed-058ec980c44c"
              }
            ],
            "iconColour": {
              "value": "f8f9fa",
              "label": "Light",
              "sortOrder": 8,
              "id": "9"
            },
            "invertedIconColour": {
              "value": "999999",
              "label": "Dark Gray",
              "sortOrder": 10,
              "id": "11"
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1d2534e00c484a3ebf0c5db010645aa9",
        "areas": [
          {
            "key": "5fbc91b5-09da-44fa-8d3e-9bc408722595",
            "items": [
              {
                "contentUdi": "umb://element/a39e0679911e433cbffaf8a32601d8fa",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/07837b6ce2634c268822cf0225b36d59",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/8463333ca0354f4f944b8cbde43402ee",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "25f98a40-96c8-4860-ac27-7f425e98a5e5",
      "udi": "umb://element/1d2534e00c484a3ebf0c5db010645aa9"
    },
    {
      "contentTypeKey": "79cd50e4-f2f4-483f-85a1-c7cd6c2c8be1",
      "udi": "umb://element/a39e0679911e433cbffaf8a32601d8fa",
      "title": "About",
      "link": [
        {
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "79cd50e4-f2f4-483f-85a1-c7cd6c2c8be1",
      "udi": "umb://element/07837b6ce2634c268822cf0225b36d59",
      "title": "Search",
      "link": [
        {
          "udi": "umb://document/fa320cb4128f43c5aee6557251db711f"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "79cd50e4-f2f4-483f-85a1-c7cd6c2c8be1",
      "udi": "umb://element/8463333ca0354f4f944b8cbde43402ee",
      "title": "Dropdown",
      "link": "",
      "childLinks": [
        {
          "name": "Home",
          "udi": "umb://document/2b5b74c8af45435b92c9f8e7984f66e1"
        },
        {
          "name": "About",
          "udi": "umb://document/cff192656d3248bf8acdb610e46c8bca"
        },
        {
          "name": "Search",
          "udi": "umb://document/fa320cb4128f43c5aee6557251db711f"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Ahmed]]></Value>
    </siteName>
  </Properties>
</Content>