<?xml version="1.0" encoding="utf-8"?>
<Content Key="31195f25-2573-4324-9cb6-5713dc62825f" Alias="Testing" Level="4">
  <Info>
    <Parent Key="148d20e4-1eee-488d-a6ca-307f7c42bf77">Reusable Content</Parent>
    <Path>/Home/SiteSettings/ReusableContent/Testing</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentItem</ContentType>
    <CreateDate>2024-08-20T15:18:07</CreateDate>
    <NodeName Default="Testing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/15496825394d4d20875cf81b34131ade",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "397986c0-34e2-4e8f-aa63-8f54e4a8343e",
      "udi": "umb://element/15496825394d4d20875cf81b34131ade",
      "text": {
        "markup": "<p>This is testing the Reusable Content</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
  </Properties>
</Content>